{% assign cover_img_path = include.date | date: '/img/posts/%Y/%Y-%m-%d-cover.png' %}
{% assign static_paths = site.static_files | map: 'path' %}
{% if static_paths contains cover_img_path %}
  {% if include.url %}
<a href="{{ include.url }}"><amp-img src="{{ cover_img_path }}" alt="" width="800" height="450" layout="responsive"></amp-img></a>
  {% else %}
<amp-img src="{{ cover_img_path }}" alt="" class="photo-box" width="800" height="450" layout="responsive"></amp-img>
  {% endif %}
{% endif %}
